label {width: 100%;}
#space-2d {
	position: absolute;
	border: 1px brown solid;
	background-color: lightgray;
	margin: 10px; padding: 0;
}
.controls input {margin-top: 5px;}

.object-point {
	opacity: 0.5;
	position: absolute;
	display: inline-block;
	border: 1px white solid;
	background-color: gray;
	margin: 0; padding: 0;

	width: 17px;
	height: 17px;
	border-radius: 7px;
}
.object-point.mark {
	border-color: black;
	background-color: green;
}
.object-point.active {
	border-color: red;
	background-color: orange;
}
